@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
.holder {
  position: absolute;
  display: flex;
  flex-flow:column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(59, 179, 248);
  color: white;
  text-align: center;
  justify-content: space-between;
}
/* menu-bar */
.menu-bar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-flow:row wrap ;
  align-items: center;
  padding: 0 1em;
  z-index: 99;
}
/* plus button */
.menu-bar > span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: rgb(59, 179, 248);
  border-radius: 50px;
  cursor: pointer;
}
#plus-2 {
  transform: rotate(90deg) translate(0%,35px);
}
/* task-holder */
.task-holder {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 70px;
  padding-top: .5em;
}
/* adding box */
.adding-box {
  position: absolute;
  display: none;
  flex-flow: column;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  box-shadow: 0 0 9px 2px #4f4b4b;
  background-color: rgb(255, 255, 255);
}
/* hide holder */
.hide-holder {
  width: 100%;
  height: 15%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  padding-left: .5em;
}
/* hide btn */
.hide-holder>span{
  display: block;
  width: 35px;
  height: 5px;
  background-color: rgb(59, 179, 248);
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
}
#hide-1{
  transform: rotate(45deg);
}
#hide-2 {
  transform: rotate(-45deg);
}
/* text input holder */
.text-input-holder {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 85%;
  justify-content: center;
  
}
/* tittle text niput holder */
.text-input-holder>h1 {
  color: rgb(59, 179, 248);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* text input */
#text-input {
  width: 80%;
  height: 2.5em;
  font-size: 1.2em;
  padding-left: 1em;
  text-transform: capitalize;
  border: 1px solid rgb(59, 179, 248);
  border-radius: 50px;
  outline: none;
  color: black;
}
/* add btn  */
#add-btn {
  width: 150px;
  height:50px;
  outline: none;
  border: 2px solid rgb(59, 179, 248);
  background-color: transparent;
  font-size: 1.2em;
  color: rgb(59, 179, 248);
  border-radius: 50px;
  transition: background-color .2s ease-in-out;
}
/* onhover */
#add-btn:hover {
  background-color: rgb(59, 179, 248);
  color: white;
}
/* task last child */
.task-last {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  overflow: hidden;
  background-color: rgb(79, 109, 209);
}
.task-last>h1 {
  margin-bottom: 0em;
}
.task-last>p {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: .5em;
}