/* this for normal texts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* this for headers */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}
h1 , h2 , h3 , h4 {
    font-family: 'Bebas Neue', cursive;
}
/* back symbole */
    /* strat */
    #back-s-holder {
        position: fixed;
        width: fit-content;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        margin: 1.5em 1em;
        display: flex;
        flex-flow: column;
        cursor: pointer;
        z-index: 99;
    }
    #back-1 , #back-2 , #back-3 {
        display: block;
        margin: 1px;
        width: 50px;
        height: 7px;
        background-color: var(--main-color);
        border-radius:50px ;
        transform: translate(1.3px);
    }
    #back-1 , #back-3 {
        width: 25px;
    } 
    #back-1 {
        transform: rotate(-45deg);
    }
    #back-3 {
        transform: rotate(45deg);
    }
        /* end */
/* content hodler */
    /* start */
.content-holder {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-top: 5em;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
}
/* title */
    /* start */
.content-holder>h1 {
    color: var(--main-color);
    font-size: 3em;
}
    /* end */
/* text-holder */
    /* start */
.text-holder {
    padding:  0 1.3em;
    font-size: 1.3em;
}
    /* end */
    /* footer */
.contact {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: column;
        text-align: center;
        background: var(--main-color);
        color: white;
        margin-top: 1em;
        font-family: 'Bebas Neue', cursive;
        font-size: 2em;
        padding: 1em;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
}