@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
$header-color:'Do Hyeon', sans-serif;
$normal-text:'Source Sans Pro', sans-serif;
$main-color:#133074;