@import './colors';
nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    h1{
        font-family: $header-color;
        font-size: 2.2rem;
        color: $main-color;
        margin: 0;
    }
    .links{
        position: relative;
        ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            list-style: none;
            font-family: $normal-text;
            li{
                margin: 0 .7em;
                font-size: 1.1rem;
                font-weight: 550;
                a{
                    text-decoration:none;
                    color: $main-color;
                }
            }
        }
    }
}